{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css'%}">
    <script src="{% static 'scripts/main.js'%}"></script>
    <title> {% block title %} {% endblock title %}  OpenSouq</title>
</head>
<body>
    <!-- navbar starts -->
    <nav class="navbar is-success ">
        <div class="navbar-brand">
            <a href="/" class="navbar-item"><strong>OpenSouq</strong></a>
    
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div class="navbar-menu" id="main-navbar">
            <div class="navbar-start">
                <div class="navbar-item">
                <form action="{% url 'search'%}" method="get">
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" class="input" name="query" placeholder="Search ..." autocomplete="off">
                        </div>
                        <div class="control">
                            <button class="button is-dark is-uppercase">Search</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>

            <div class="navbar-end">
                {% for category in menu_categories %}
                <a href="{% url 'category' category.slug %}" class="navbar-item">{{category}}</a>
                {% endfor %}
                <a href="{% url 'contact' %} " class="navbar-item">Contact</a>

                <div class="navbar-item">
                    <a href="{% url 'cart'%}" class="is-dark button">Cart {% if cart %} ({{cart|length}}){% endif %}</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar ends -->
    <section class="section">
        <div class="container">
            {% block content %}

            {% endblock content %}

        </div>
    </section>

    <!-- footer starts -->
    <footer class="footer">
        <h3 class="is-size-4 mb-4">OpenSouq</h3>    
        {% if request.user.is_authenticated %}
        <a href="{% url 'vendor_admin' %}">Vendor Admin</a>
        {% else %}
        <a href="{% url 'become_vendor' %}">Become vendor</a>
        {% endif %}
    </footer>
    <!-- footer ends -->

    {% block scripts %}
    {% endblock %}
</body>
</html>