{% extends 'core/base.html' %}
{% block title %}
    Contacts | 
{% endblock title %}

{% block content %}
    <h1 class="is-size-3 is-family-primary has-text-dark has-text-centered">Contact Us</h1>
    <ul style="list-style-type:circle;">
        <li><a href="mailto:kovid2020@gmail.com"><strong>Kovid Sharma</strong></a></li>
        <li><a href="mailto:ank031100@gmail.com">Ankur Mishra</a></li>
        <li><a href="mailto:gauravzone123443@gmail.com">Gaurav Yadav</a></li>
        <li><a href="mailto:haziqinfinity@gmail.com">Mohd. Haziq</a></li>
        <li><a href="mailto:Pandey.kshitiz05@gmail.com">Kshitiz Pandey</a></li>
        <li><a href="mailto:himanshurajput4450@gmail.com">Himanshu Rajput</a></li>
        <li><a href="mailto:yasirnisar39@gmail.com">Yasir Khan</a></li>
        <li><a href="mailto:ankushsolanki3287@gmail.com">Ankush solanki</a></li>
        <li><a href="mailto:Hibaa4122@gmail.com">Hiba Zia</a></li>
        <li><a href="mailto:fatimatabassum2104@gmail.com">Tabassum Fatima</a></li>
      </ul>
{% endblock content %}